<launch>
    <!-- 清除参数服务器的数据 -->
    <exec cmd="rosparam delete -v /" output="screen" />

    <arg name="uav_id" default="1"/>
    <arg name="sim_mode" default="false"/>
    <arg name="flag_printf" default="true"/>
    <!-- 如果是matlab配置为ATT_CTRL_MODE，则此处要设置为True-->
    <arg name="control/enable_external_control" default="false"/> 
    <arg name="launch_prefix" default="" />

    <!-- 启动uav_control_main -->
    <node pkg="uavcontrol" type="uav_control_main" name="uav_control_main_$(arg uav_id)" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="uav_id" value="$(arg uav_id)" />
        <param name="sim_mode" value="$(arg sim_mode)" />
        <param name="flag_printf" value="$(arg flag_printf)" />
        <param name="control/enable_external_control" value="$(arg control/enable_external_control)" />
        <rosparam command="load" file="$(find uavcontrol)/config/uav_control.yaml" />
        <rosparam command="load" file="$(find uavcontrol)/config/sensor_tf_offset.yaml" />
    </node>

    <!-- 启动虚拟摇杆驱动 -->
    <arg name="joy_enable" default="true"/>
    <group if="$(arg joy_enable)">
        <node pkg="uavcontrol" type="joy_node" name="joy_node" output="screen">
            <param name="agent_num" value="$(arg uav_id)"/>
        </node>
    </group>
</launch>
